:root {
    --white-color: #ffffff;
    --white-color-dc: #dcdcdc;
    --grey-color-76: #767676;
    --grey-color-77: #777777;
    --light-grey-color: #c3c3c3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}


/* -----   header top   ----- */

.company-content {
    background-color: var(--white-color-dc);
}
.company-wrapper {
    min-height: 23rem;
}
.logo-wrapper {
    margin: 6.5rem 0;
}
.logo {
    width: 10rem;
    height: 10rem;
}
.company-name h1 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: var(--grey-color-77);
}
.company-name p {
    font-size: 1.3rem;
    color: var(--grey-color-77);
}

.contacts {
    align-items: flex-end;
    margin: 4.2rem 0 7rem;
    line-height: 3rem;
}
.contacts-phone {
    font-size: 3rem;
    color: var(--grey-color-76);
}
.contacts-link {
    font-size: 1.8rem;
    color: var(--grey-color-76);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dashed;
}
.contacts-link:hover {
    color: var(--grey-color-76);
    text-decoration: none;
}



/* -----   modal-window   ----- */

.feedback-close {
    align-self: flex-end;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
}
.feedback-close span {
    font-size: 3rem;
}
.feedback-form {
    padding: 1rem 6.5rem 2.5rem;
}
.feedback-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.feedback-form div {
    width: 100%;
}
.feedback-form div:not(:last-child) {   
    margin-bottom: 1.5rem;
}
.feedback-form label {
    font-size: 1.4rem;
}
.feedback-input {
    width: 100%;
    height: 4rem;
    border: 1px solid var(--light-grey-color);
    padding: 1rem;
    font-size: 1.4rem;
}
.feedback-message {
    border: 1px solid var(--light-grey-color);
    padding: 1rem;
    font-size: 1.4rem;
    width: 100%;
    height: 14.2rem;
}
.feedback-submit {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white-color);
    background: var(--grey-color-77);
    border: none;
    padding: 1.2rem;
    margin-top: 0.5rem;
}

.error {
    border: 1px solid #ff8383;
    box-shadow: inset 0 0 10px rgba(255,0,0,0.2);
}
.error::placeholder {
    color: #dc7f7f;
    font-style: italic;
}


/* -----   header midle   ----- */

.header-menu {
    background-color: var(--grey-color-77);
    min-height: 8rem;   
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;    
    min-height: 8rem;
    margin-bottom: 0;
}
.header-menu li {
    white-space: nowrap;
}
.header-menu a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 2.2rem;
}
.header-menu a:hover {
    border-bottom: 2px solid var(--white-color);
}
ul.menu-list li+li::before {
    padding: 0 3.5rem;
    color: var(--white-color);
    content: "|";
    font-size: 2.2rem;
}



/* -----   slider   ----- */

.prev-icon,
.next-icon {
    background: #d1d1d1;
    font-size: 4rem;
    color: #000000;
    width: 3.4rem;
    height: 6.2rem;
}



/* -----   main breadcrumb   ----- */


.main-content__breadcrumb {
    margin-top: 1rem;
    list-style: none;
}
.main-content__breadcrumb li {
    display: inline;
    font-size: 1.2rem;
    color: var(--grey-color-76);
}
.main-content__breadcrumb li>a {
    color: var(--grey-color-76);
    font-size: 1.2rem;
    text-decoration: underline;
}
.main-content__breadcrumb li+li:before {
    padding: 0 0.8rem 0 0.4rem;
    color: var(--grey-color-76);
    content: "/\00a0";
}



/* -----   main   ----- */


.main-content__wrap {
    display: flex;
    margin-top: 2.2rem;
}



/* -----   main sidebar   ----- */

.sidebar {
    padding: 0;
    /* max-width: 18rem; */
}
.sidebar-nav {
    margin-bottom: 5.5rem;
}
.sidebar-menu,
.sidebar-submenu {
    list-style: none;
}
.sidebar-submenu li {
    padding-left: 0.6rem;
}
.sidebar-submenu i {
    padding-right: 0.4rem;
    color: var(--grey-color-76);
}
.sidebar-item {
    text-decoration: none;
    color: var(--grey-color-76);
}
.sidebar-item:hover {
    text-decoration: none;
    color: var(--grey-color-76);
}
.menu-item {
    font-size: 1.4rem;
}
.submenu-item {
    font-size: 1.2rem;
}
a.active-nav {
    text-decoration: underline;
}
a.active-nav:hover {
    text-decoration: underline;
}
a.active-dark {
    color: #010101;
}
a.active-dark:hover {
    color: #010101;
}
.price-wrap {
    padding: 5.5rem 1.4rem;
}


.burger {
    display: none;
    width: 40px;
}
.close-wrap {
    display: none;
}


/* -----   main products   ----- */

.main-info {
    padding-right: 0;
    padding-left: 2.5rem;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    gap: 2rem 1.5rem;
}

.product-container {
    justify-self: center;
    background-color: var(--white-color-dc);
    max-width: 25rem;
    padding: 2rem 2rem 1.7rem;
}
.product-text {
    font-size: 1.4rem;
    margin: 2rem 0 5.2rem;
}
.purchase-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.purchase-info p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}
.purchase-info a {
    justify-self: end;
    padding-right: 1.4rem;
}



/* -----   main pagination   ----- */

.main-pagination {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}
.main-pagination ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.main-pagination li {
    padding: 0 1.1rem;
}
.pagination-page {
    text-decoration: none;
    color: var(--grey-color-76);
    font-size: 1.3rem;
}
.pagination-page:hover {
    text-decoration: none;
    color: var(--grey-color-76);
}
.active-page {
    font-size: 1.5rem;
    color: #444444;
    font-weight: bold;
}
.active-page:hover {
    color: #444444;
}


/* -----   main about-pixel   ----- */


.about-pixel {
    margin: 6rem 0 14rem;
}
.about-pixel__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    border-top: 1px solid var(--grey-color-77);
    padding-top: 2.5rem;
}
.about-pixel__left-text {
    grid-column: 1;
    justify-self: start;
}
.about-pixel__right-text {
    grid-column: 2;
    justify-self: end;
}
.about-pixel__left-text,
.about-pixel__right-text {
    font-size: 1.4rem;
    color: var(--grey-color-76);
}


/* -----   footer   ----- */


.company-footer {
    min-height: 22rem;
    background-color: var(--grey-color-77);
}
.footer-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--white-color);
    padding-top: 5rem;
}
.footer-wrap p {
    font-size: 1.4rem;
}
.footer-nav ul {
    list-style: none;
}
.footer-nav li {
    line-height: 2.6rem;
}
.footer-nav a {
    color: var(--white-color);
    font-size: 1.4rem;
    border-bottom: 1px solid var(--white-color);
}
.footer-nav a:hover {
    text-decoration: none;
}
.footer-pixel {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-self: end;
}
.footer-pixel img {
    margin-right: 1rem;
}